
// My Colors
$color-primary: #57bc90;
$color-primary-light:#77c9d4;
$color-primary-dark: #015249;

$color-grey-slate: #a5a5af;

/*
COLORS {
    feather:  rgb(119, 201, 212);//color-primary-light
    feather: #77c9d4;// color-primary-light
    marine: rgb(87, 188, 144); //color-primary
    marine: #57bc90; //color-primary
    forest: #015249; //color-primary-dark
    forest: rgb(1, 82, 73); //color-primary-dark
    sleek-grey: #a5a5af; //color-grey-dark
    sleek-grey: rgb(165, 165, 175);//color-grey-dark
}
*/

//default colors:
$color-primary-1: #55c57a;
$color-primary-light-1: #7ed56f;
$color-primary-dark-1: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #150d5c;

$color-white: #fff;
$color-black: #000;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Other Design elements
//rbga(85,197,122)
//Box-Shadow Variations
$normal-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
$shadow-photo-hover: 0 2.5rem 4rem rgba(40, 180, 143, .5);
$shadow-photo: 0 1.5rem 4rem rgba(21, 13, 92, .4);

$shadow-light-a: 0 1.5rem 4rem rgba(0, 0, 0, .1);
$shadow-mid-light-a: 0 1.5rem 4rem rgba(0, 0, 0, .25);
$shadow-primary-a: 0 1.5rem 4rem rgba(0, 0, 0, .5);
$shadow-mid-dark-a: 0 1.5rem 4rem rgba(0, 0, 0, .75);
$shadow-darkest-a: 0 1.5rem 4rem rgba(0, 0, 0, .9);
