
//Colors
$color-primary: #57bc90;
$color-primary-light:#77c9d4;
$color-primary-dark: #015249;
$color-grey-dark: #a5a5af;
$color-white: #fff;
$color-black: #000;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;