/*
COLORS {
    feather:  rgb(119, 201, 212);//color-primary-light
    feather: #77c9d4;// color-primary-light
    marine: rgb(87, 188, 144); //color-primary
    marine: #57bc90; //color-primary
    forest: #015249; //color-primary-dark
    forest: rgb(1, 82, 73); //color-primary-dark
    sleek-grey: #a5a5af; //color-grey-dark
    sleek-grey: rgb(165, 165, 175);//color-grey-dark
}
*/
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/bg-video";
@import "components/button";
@import "components/card";
@import "components/composition";
@import "components/feature-box";
@import "components/form";
@import "components/popup";
@import "components/story";

@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";

@import "pages/home";

